*{
    box-sizing: border-box;
}
body{
    margin:0;
    padding: 0;
    font-family: 'Karla', sans-serif;

}
nav{
    display: flex;
    align-items: center;
    background: linear-gradient(90deg, rgba(103,34,128,1) 0%, rgba(166,38,211,1) 100%, rgba(0,212,255,1) 100%);
    color:white;
    padding: 5px 50px 5px 35px;
}
nav >img{
    width:50px;
}
nav >h2{
    margin-right: auto;
    margin-left:15px;
}
.meme{
    padding:40px 100px;
}
.form-meme{
    display: grid;
    grid-template: 40px 40px / 1fr 1fr;
    gap:17px;
}
.form-meme > input {
    border-radius: 7px;
    border: 1px solid gray;
    font-family: 'Karla', sans-serif;
    text-indent: 10px;
}
.form-button{
    font-family: 'Karla', sans-serif;
    font-size: medium;
    grid-column: 1 / -1;
    background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
    color:white;
    border-radius: 7px;
    border:0;
    cursor: pointer;
}
.meme-img{
    display: block;
    margin-left: auto;
    margin-right: auto ;
    max-width:50%; 
    
}
.meme{
    position: relative;
}
.meme-text{
    position: absolute;
    width: 80%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin: 15px 0;
    padding: 0 5px;
    font-family: impact, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}

.topText{
    top:30px;
}
.bottomText{
    bottom: 30px;
}